@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.table-container::-webkit-scrollbar {
  width: 12px;
}

.table-container::-webkit-scrollbar-track {
  background: #0a0a0a;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #0a0a0a;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* src/WindBarb.css */
.wind-barb-container {
  display: inline-block;
  position: relative;
}

.wind-barb {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid black;
  transform-origin: bottom center;
  transition: transform 0.3s ease-out;
}

.barb-holder {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.barb {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  margin-top: -8px;
}
